input:
  # 可选值: 'local' (从本地文件读取) 或 'api' (从华为CDN API拉取)
  source_type: api

  # --- 本地模式配置 (当 source_type 为 'local' 时生效) ---
  path: ./logs/
  file_pattern: "*.gz"

  # --- API 模式配置 (当 source_type 为 'api' 时生效) ---
  api:
    # 需要拉取日志的CDN加速域名
    domain_name: "img.shutong.hi.cn"
    # 开始时间 (ISO 8601 UTC格式)
    start_time: "2025-11-12T00:00:00Z"
    # 结束时间 (ISO 8601 UTC格式)
    end_time: "2025-11-16T00:00:00Z"
    # 华为云的 Access Key
    access_key: "AK"
    # 华为云的 Secret Key
    secret_key: "SK"
    # 是否跳过本地 ./logs 目录下已存在的同名日志文件
    skip_existing_logs: true
    # 是否将新拉取的日志保存到 ./logs 目录
    download_new_logs: true

parser:
  format: huawei_cdn
  time_format: "%d/%b/%Y:%H:%M:%S %z"

analysis:
  modules:
    - basic_stats
    - geo_ip  # 启用地理位置分析模块
  top_n_count: 50

  # 控制在Excel报告中“RawLogsSample”工作表里显示的日志行数。设置为一个正整数 (如 500) 以显示指定数量的样本，设置为 -1 表示显示全部日志 (注意：日志量大时可能导致Excel文件很大)。
  raw_logs_sample_limit: 200

  geoip:
    # 可选值: 'local' (使用本地mmdb文件) 或 'api' (使用在线API)
    provider: api 

    # --- 本地数据配置，如果使用api请将下面两行注释 ---
    # local:
    #   db_path: ./GeoLite2-City.mmdb

    # --- API 配置 ---
    api:
      # API的URL，支持批量查询
      endpoint: http://ip-api.com/batch
      # 每次批量查询提交的IP数量
      batch_size: 100

output:
  reporters:
    - cli
    - excel
  report_path: ./reports/